@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Azeret Mono;
}
/* assignment first section style starts hare  */
.assignment-first-container{
    /* border: 2px solid red; */
    width: 1440px;
height: 652px;
margin: 0 auto;
margin-top: 60px;
background-image: url(images/roof.png);
}
.assignment-first-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.assignment-first-content img{
    margin-top: 25px;
}
.assignment-first-content h1{
    /* border: 2px solid red; */
   padding: 0 400;
  /* border: 2px solid red; */
  color: rgb(13, 19, 33);
    margin-top: 40px;
}
.assignment-first-content p{
   /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    /* margin-bottom: 50px; */
}
.assignment-first-content button{
    background-color: rgb(13, 19, 33);
    color: white;
    font-size: 20px;
    width: 244px;
height: 65px;
border-radius: 8px;
margin-bottom: 130px;
}
/* assignment first section style endss hare  */

/* assignment second section style strats hare */ 
 
.second-section-container{
   border: 2px solid red;
    width: 1140px;
height: 1393px;
margin: 0 auto;
margin-top: 80px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13, 19, 33);
}
.second-section-content h1{
    margin-top: 70px;
    font-size: 32px;
}
.second-section-content p{
 padding: 25px 47px;
 font-size: 16px;
}
.second-section-photo1{
    border: 2px solid red;
    width: 946px;
height: 336px;
margin-top: 48px;
display: flex;
justify-content: space-between;
padding: 48px;
}
.leftside-content{
    border: 2px solid red;
display: flex;
    width: 477px;
height: 219px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.leftside-content h2{
    font-size: 24px;
}
.leftside-content p{
    
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     border: 2px solid red;
} 
.leftside-content button{
    font-size: 15px; 
    border: 2PS solid white;
    width: 130px;
    height: 48px;
}

.rightside-content{
    /* border: 2px solid red; */
    width: 259.56px;
height: 217.01px; 
}
.second-section-photo2{
    border: 2px solid red;
    width: 946px;
height: 336px;
margin-top: 50px;
display: flex;
justify-content: space-around;
padding: 48px;
margin: 0 auto;
margin-top: 32px;
}
.leftside-content2{
    border: 2px solid red;
    width: 240px;
    height: 240px;
}
.rightside-content2{
    border: 2px solid red;
    width: 477px;
    height: 219px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rightside-content2 h2{
    margin-bottom: 17px;
    font-size: 24px;
}
.rightside-content2 p{
    margin-bottom: 17px;
    font-size: 16px;
}
.rightside-content2 button{
    margin-top: 32px;
    font-size: 15px; 
    border: 2PS solid white;
    width: 130px;
    height: 48px;
}
.second-section-photo3{
    border: 2px solid red;
    width: 946px;
    height: 336px;
    /* margin-top: 48px; */
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin: 0 auto;
    margin-top: 50px;
}
.leftside-cotent3{
    border: 2px solid red;
width: 477px;
height: 220px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.leftside-cotent3 p{
    margin-top: 17px;
    font-size: 16px;
}
.leftside-cotent3 button{
    margin-top: 32px;
    font-size: 15px; 
    border: 2PS solid white;
    width: 130px;
    height: 48px;
}
.rightside-content3{
    border: 2px solid red;
    width: 240px;
height: 240px;
}



/* assignment second section style strats hare */